html, body {
  background-color: white;
  min-width: 700px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
  padding:20px;
}

.intro {
	text-align: center;
	color: red;
	font-size:40px;
}

.searchBox {
	display:block;
	margin: 0 auto;
}

.submitSearch {
	display:block;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 10px;
}

.searchAgainBox {
	display:block;
	margin: 0 auto;
	margin-bottom: 10px;
}